<div class="webdiv1">
  <h1>What Is Web3?</h1>
  <p>Web3 refers to the next version of the internet, which will focus on decentralization and user ownership. Find out how this future development may impact the internet and investing.</p>
</div>
<div>
    <%= image_tag "web3banner.png",  class:"web3banner" %>
</div>
<div class="containerweb3">
  <div class="partition1">
      <h1>WEB 3.0</h1>
      <p id="firstext">Also known as Web 3.0, Web3 is the next major phase in the evolution of the internet. Much like the foundation of cryptocurrency, and helped along by IoT ecosystems, the onset of the metaverse, and the rise of non-fungible tokens (NFTs), this new internet phase will be based upon decentralization, openness, and greater utilization for individual users.

To better understand Web3, it can be helpful to review current and past phases of the internet. Unlike the current Web 2.0 phase, where platforms and apps are owned by centralized entities, such as large tech companies, the Web 3.0 platforms and apps will be developed, owned, and maintained by users.

The coming Web3 iteration of the internet is expected to be more like the initial Web 1.0 phase than the current Web 2.0. Dating back to the 1990s, Web1 was the beginning of the World Wide Web. Like Web3 is expected to be, Web1 was defined by decentralized protocols and individual users.
      </p>
      <h1>Understanding Web3</h1>
      <p>Put simply, Web3 is a future, decentralized form of the internet, where users become owners. Rather than using free apps and platforms that collect user data, as in the current phase of Web2, users in the future Web3 phase will be able to participate in the creation, operation, and governance of the protocols themselves.

In Web3, ownership can be represented by digital tokens or cryptocurrencies, through decentralized networks known as blockchains. For example, if you hold enough digital tokens for a particular network, you could have a say over the operation or governance of the network. This is similar to the way stockholder voting rights allow shareholders of record in a company to vote on certain corporate actions.

      <p id="textenfase"><em>"Key Takeaway: For investors, Web3 can present opportunities around the decentralization of finance, which could open new markets, just as cryptocurrency and NFTs have done. For example, investors can watch for new transactional infrastructures, such as lending protocols, which have the potential to be disruptive. Although Web3 may still be years away from capturing major market share, interest from investors and venture capitalists is likely to grow as people become more educated on this new phase of the web."</em></p>
      <h1>Web2 vs. Web3</h1>
      <ul>
      <li><strong>Web2:</strong> This is the phase we have been in since the early-2000s, when the emergence of large platforms like Google, Facebook, Twitter, and Amazon, as well as services like Uber and Venmo, brought a centralized, commercial order to the internet by making it easier to connect, browse, interact, and make transactions online. These large companies capture much of the monetary value created on the internet.</li>
      <li><strong>Web3:</strong> This is the future of the internet, where we return to the individualized utility of Web 1.0, but this time it's based on blockchain technology and digital tokens that can foster a decentralized internet. Rather than the large players of Web2 capturing the bulk of monetary value, Web3 replaces the centralized entities with decentralized networks that distribute the value to creators, users, and developers.</li>
      </ul>
      <p id="lastext">Web3 is a future, decentralized phase of internet development, where users become owners. This contrasts from the current Web2, which is dominated by large, centralized players that capture most of the internet’s monetary value. While Web3 is still in its infancy stage, it is likely to impact the investment community and broader economy in the years ahead.</p>
  </div>
  <div class="partition2">
      <div class="blockimg1">
        <div class="blockline1">
        </div>
      </div>
      <div class="blockimg2">
        <div class="blockline2">
        </div>
      </div>
      <div class="blockimg1">
        <div class="blockline1">
        </div>
      </div>
      <div class="blockimg2">
        <div class="blockline2">
        </div>
      </div>
  </div>
</div>
